
@{
    ViewBag.Title = "Success Message";
}

<h2>Successfull submitted you can track progress.....</h2>


<div>
    <div>
        @Html.ActionLink("Back home", "StudentHomePage", "Home")
    </div>
    <div align="right">
        @Html.ActionLink("Next track", "TrackIndex", "Reports")
    </div>
</div>
