@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>
    Vortex Technologies is an established company of brilliant personnel who are currently leading Africa’s
    technology industry by bringing solutions to existing problems. The South African-based company is in Durban,
    specializing in web development systems and mobile applications. We are known for producing high-quality
    software, and we value our customer satisfaction
</p>
