
@{
    ViewBag.Title = "AdminHomePage";
}




<br />

<div class="form-group">
    <div class="col-md-8">
        @Html.Action("Index", "Reports")

    </div>
</div>

<div class="form-group">
    <div class="col-md-8">
        @Html.Action("NullimgIndex", "Reports")

    </div>
</div>
